:root {
    --webfx-aria-toggle-button-background-color-focused: lightgray;
    --webfx-aria-toggle-button-background-color-hover: var(--webfx-aria-toggle-button-background-color-focused);
    --webfx-aria-toggle-button-background-color-fired: #0096D6;
    --webfx-aria-toggle-button-text-fill-fired: white;
}


fx-togglebutton.aria-toggle {
    --fx-togglebutton-background-color-selected: var(--webfx-aria-toggle-button-background-color-focused);
    --fx-togglebutton-background-color-hover: var(--webfx-aria-toggle-button-background-color-hover);
}

fx-togglebutton.aria-toggle.fired {
    --fx-button-background-color: var(--webfx-aria-toggle-button-background-color-fired);
    --fx-button-background-color-selected: var(--webfx-aria-toggle-button-background-color-fired);
    --fx-text-fill: var(--webfx-aria-toggle-button-text-fill-fired);
}