.root {
    -webfx-aria-toggle-button-border-color: transparent;
    -webfx-aria-toggle-button-background-color: white;
    -webfx-aria-toggle-button-background-color-focused: lightgray;
    -webfx-aria-toggle-button-background-color-hover: -webfx-aria-toggle-button-background-focused;
    -webfx-aria-toggle-button-background-color-fired: blue;
    -webfx-aria-toggle-button-text-fill-fired: white;
}

ToggleButton.aria-toggle {
    -fx-border-color: -webfx-aria-toggle-button-border-color;
    -fx-background-color: -webfx-aria-toggle-button-background-color;
}

ToggleButton.aria-toggle:hover {
    -fx-background-color: -webfx-aria-toggle-button-background-color-hover;
}

ToggleButton.aria-toggle:selected {
    -fx-background-color: -webfx-aria-toggle-button-background-color-focused;
}

ToggleButton.aria-toggle.fired {
    -fx-background-color: -webfx-aria-toggle-button-background-color-fired;
    -fx-text-fill: -webfx-aria-toggle-button-text-fill-fired;
}

/* Automatically applying the same color as the text to SVG icons used inside the toggle buttons. */
/* Commented as some icons don't have fill but stroke instead => using specific rules in modality-frontoffice-mainframe-javafx@main.css
ToggleButton.aria-toggle SVGPath { !* TODO: completely remove? *!
    -fx-fill: -fx-text-fill;
}*/
