.root {
    -webfx-aria-toggle-button-border-color: transparent;
    -webfx-aria-toggle-button-background-color: white;
    -webfx-aria-toggle-button-background-color-focused: lightgray;
    -webfx-aria-toggle-button-background-color-hover: -webfx-aria-toggle-button-background-focused;
    -webfx-aria-toggle-button-background-color-fired: blue;
    -webfx-aria-toggle-button-text-fill-fired: white;
}

ToggleButton.aria-toggle {
    -fx-border-color: -webfx-aria-toggle-button-border-color;
    -fx-background-color: -webfx-aria-toggle-button-background-color;
}

ToggleButton.aria-toggle:hover {
    -fx-background-color: -webfx-aria-toggle-button-background-color-hover;
}

ToggleButton.aria-toggle:selected {
    -fx-background-color: -webfx-aria-toggle-button-background-color-focused;
}

ToggleButton.aria-toggle.fired {
    -fx-background-color: -webfx-aria-toggle-button-background-color-fired;
    -fx-text-fill: -webfx-aria-toggle-button-text-fill-fired;
}

ToggleButton.aria-toggle SVGPath { /* TODO: check if it's the best place */
    -fx-fill: -fx-text-fill;
}