.drop-down-button {
    --fx-border-color: lightgray;
    --fx-border-style: solid;
    --fx-border-width: 1px;
    --fx-border-radius: 6px;
    --fx-background-color: white;
    --fx-background-radius: 6px;
    --fx-svg-path-fill: transparent;
    --fx-svg-path-stroke: lightgray;
}
