:root {
    /* Colors shared by different Material components */
    --webfx-material-input-text-fill: #1e1e1e;
    --webfx-material-idle-text-fill: #6d6d6d;
    --webfx-material-disabled-fill: #8a8a8a;
    --webfx-material-invalid-fill: #ff1744;
    --webfx-material-focused-fill: #0596FF;

    /* CSS variables applied to specific material components with default values (will be redefined on focus, disabled & invalid) */
    --webfx-material-background-color: white;
    --webfx-material-label-fill: var(--webfx-material-idle-text-fill);
    --webfx-material-line-fill: var(--webfx-material-idle-text-fill);
    --webfx-material-line-border-style: solid;
    --webfx-material-focused-line-fill: var(--webfx-material-focused-fill);
}

/* Applying CSS variables to material components (new single-host system) */

/* Host with class .material: set background and neutralize border via variables */
.material {
    --fx-background-color: var(--webfx-material-background-color);
    --fx-border-radius: 0;
    --fx-border-style: none;
    --fx-border-width: 0;
}

.material-label {
    color: var(--webfx-material-label-fill);
}

.material-line { /* is actually a JavaFX Region */
    /* Using the border overlay (via variables) to support dotted style for disabled state */
    --fx-border-color: var(--webfx-material-line-fill);
    --fx-border-style: var(--webfx-material-line-border-style);
    --fx-border-width: 0 0 1px 0; /* only bottom */
}

.material-focused-line { /* is actually a JavaFX Region */
    /* Using background only (no need for a border) */
    --fx-background-color: var(--webfx-material-focused-line-fill);
}

/* Changing CSS variables values in dependence of material state */

.material-focused * {
    --webfx-material-label-fill: var(--webfx-material-focused-fill);
}

.material-disabled * {
    --webfx-material-label-fill: var(--webfx-material-disabled-fill);
    --webfx-material-line-fill: var(--webfx-material-disabled-fill);
    --webfx-material-line-border-style: dotted;
    --webfx-material-focused-line-fill: var(--webfx-material-disabled-fill);
}

.material-invalid * {
    --webfx-material-label-fill: var(--webfx-material-invalid-fill);
    --webfx-material-line-fill: var(--webfx-material-invalid-fill);
    --webfx-material-focused-line-fill: var(--webfx-material-invalid-fill);
}