* {
     /* Colors shared by different Material components */
     -webfx-material-input-text-fill: #1e1e1e;
     -webfx-material-idle-text-fill: #6d6d6d;
     -webfx-material-disabled-fill: #8a8a8a;
     -webfx-material-invalid-fill: #ff1744;
     -webfx-material-focused-fill: #0596FF;

     /* CSS variables applied to specific material components with default values (will be redefined on focus, disabled & invalid) */
     -webfx-material-background-color: white;
     -webfx-material-label-fill: -webfx-material-idle-text-fill;
     -webfx-material-line-fill: -webfx-material-idle-text-fill;
     -webfx-material-line-border-style: solid;
     -webfx-material-focused-line-fill: -webfx-material-focused-fill;
}

/* Applying CSS variables to material components */
.material {
     /* Material background */
     -fx-background-color: -webfx-material-background-color , -webfx-material-background-color , -webfx-material-background-color;
     -fx-background-insets: 0, 0, 0;
}

.material-label { /* is actually a JavaFX Text */
     -fx-fill: -webfx-material-label-fill;
}

.material-line { /* is actually a JavaFX Region */
     /* Using a border (not background) because there is a dotted style for the disabled state */
     -fx-border-color: -webfx-material-line-fill;
     -fx-border-style: solid; /* -webfx-material-line-border-style; not working with OpenJFX) */
     -fx-border-width: 1px;
}

.material-focused-line { /* is actually a JavaFX Region */
     /* Using a background is enough (no need for a border) */
     -fx-background-color: -webfx-material-focused-line-fill;
}

/* Changing CSS variables values in dependence of material state */

.material-focused * {
     -webfx-material-label-fill: -webfx-material-focused-fill;
}

.material-disabled * {
     -webfx-material-label-fill: -webfx-material-disabled-fill;
     -webfx-material-line-fill: -webfx-material-disabled-fill;
     -webfx-material-line-border-style: dotted;
     -webfx-material-focused-line-fill: -webfx-material-disabled-fill;
}

.material-disabled .material-line { /* workaround because -webfx-material-line-border-style is not working with OpenJFX */
     -fx-border-style: dotted;
}

.material-invalid * {
     -webfx-material-label-fill: -webfx-material-invalid-fill;
     -webfx-material-line-fill: -webfx-material-invalid-fill;
     -webfx-material-focused-line-fill: -webfx-material-invalid-fill;
}
