VisualGrid {
    -fx-skin: "dev.webfx.kit.mapper.peers.javafxcontrols.openjfx.skin.FxControlPeerSkin";
}

* {
    -webfx-visualgrid-row-border-color: #D3D3D3;
    -webfx-visualgrid-col-border-color: #D3D3D3;
    -webfx-visualgrid-selection-color: #AED6F1;
}

.table-view {
    -fx-table-cell-border-color: #bbbbbb; /* same color as java 7 caspian, java 8 one is too light on colored rows */
    -fx-cursor: hand;
}

.table-view.noHeader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view.fullHeight *.scroll-bar:vertical {
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
}

.table-row-cell:empty {
    -fx-opacity: 0.0;
}

.table-row-cell .table-cell {
    -fx-padding: 1.4mm 1.4mm 0.6mm 1.4mm;
}

.grid .scroll-pane {
    -fx-padding: 0;
}

.grid-head, .grid-row {
    -fx-border-color: -webfx-visualgrid-row-border-color;
    -fx-border-width: 0 0 1px 0;
}

.grid-col {
    -fx-border-color: -webfx-visualgrid-col-border-color;
    -fx-border-width: 0 1px 0 0;
}

.table-row-cell:selected {
    -fx-background: -webfx-visualgrid-selection-color;
}

.table-row-cell:selected .table-cell {
   -fx-text-fill: -fx-text-inner-color;
}
