:root {
    --webfx-visualgrid-row-border-color: #D3D3D3;
    --webfx-visualgrid-col-border-color: #D3D3D3;
    --webfx-visualgrid-row-height: 28px;
    --webfx-visualgrid-selection-color: #AED6F1;
}

th, td {
    border: 1px solid var(--webfx-visualgrid-row-border-color);
    border-top-width: 0;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    cursor: pointer;
}

thead {
    border: none;
    height: var(--webfx-visualgrid-row-height);
    position: sticky;
    top: 1px;
    z-index: 2; /* header must be above body when scrolling */
}

thead th {
    border-right-width: thin;
    border-right-style: solid;
    border-right-color: var(--webfx-visualgrid-col-border-color);
    height: var(--webfx-visualgrid-row-height);
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

tbody td {
    border-bottom-color: var(--webfx-visualgrid-row-border-color);
}

tbody tr {
    height: var(--webfx-visualgrid-row-height);
}

thead th, tbody td {
    padding: 0 5px 0 5px;
    max-width: 0;
    overflow: hidden;
}

th:before { /* this rule is to prevent body appearing in 1px line above header when scrolling */
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: -1px;
    border-top: 1px solid var(--webfx-visualgrid-row-border-color);
}


/***********************************
 *** Table header and row colors ***
 ***********************************/

/*** Table header gray gradient ***/

thead tr {
    background: linear-gradient( 180deg, white, lightgray 100%);
}

th, tbody, td {
    background-color: transparent;
}

.grid-col, .grid-row {
    overflow: hidden;
}

.grid-head, .grid-row {
    border-bottom: 1px solid var(--webfx-visualgrid-row-border-color);
}

.grid-col {
    border-right: 1px solid var(--webfx-visualgrid-col-border-color);
}

tr.selected, .grid-row.selected {
    background: var(--webfx-visualgrid-selection-color)
}
