:root {
    --webfx-time-pickers-blue1-color: #0096D6;
    --webfx-time-pickers-blue2-color: #afe7ff;
    --webfx-time-pickers-gray-color: #cccccc;

    --webfx-time-pickers-arrow-color: var(--webfx-time-pickers-blue1-color);
    --webfx-time-pickers-month-color: var(--webfx-time-pickers-blue1-color);
    --webfx-time-pickers-border-color: var(--webfx-time-pickers-gray-color);
    --webfx-time-pickers-date-background-color: var(--webfx-time-pickers-gray-color);
    --webfx-time-pickers-selected-date-background-color: var(--webfx-time-pickers-blue2-color);
    --webfx-time-pickers-unselectable-date-background-color: var(--webfx-time-pickers-gray-color);
    --webfx-time-pickers-background-color: #FFFFFF;
}

.webfx-datepicker.border > fx-border {
    border-color: var(--webfx-time-pickers-border-color);
    border-style: solid;
    border-radius: 10px;
}

.webfx-datepicker .date-selected > fx-background {
    background-color: var(--webfx-time-pickers-selected-date-background-color);
    border-radius: 10px;
}

.webfx-datepicker .date-unselectable > fx-background {
    background-color: var(--webfx-time-pickers-unselectable-date-background-color);
    border-radius: 10px;
}

.webfx-datepicker .date-secondary > fx-background {
    background-color: var(--webfx-time-pickers-date-background-color);
    border-radius: 10px;
}

.webfx-datepicker .arrow svg path:not([fill]):not([stroke]) {
    fill: var(--webfx-time-pickers-arrow-color);
}

.webfx-datepicker .month {
    color: var(--webfx-time-pickers-month-color);
    font-size: 14px;
}

.webfx-datepicker .background {
    background-color: var(--webfx-time-pickers-background-color);
}