* {
    -webfx-switch-unselected-background-color: lightgray;
    -webfx-switch-selected-background-color: #23EA00;
    -webfx-switch-knob-background-color: white;
}

Switch.webfx-switch {
    -fx-background-color: -webfx-switch-unselected-background-color;
    -fx-background-radius: 10px;
}

Switch.webfx-switch.selected {
    -fx-background-color: -webfx-switch-selected-background-color;
}

Switch.webfx-switch Circle.knob {
    -fx-fill: -webfx-switch-knob-background-color;
}