:root {
    --webfx-switch-unselected-background-color: lightgray;
    --webfx-switch-selected-background-color: #23EA00;
    --webfx-switch-knob-background-color: white;
}

fx-switch.webfx-switch {
    --fx-background-color: var(--webfx-switch-unselected-background-color);
    --fx-background-radius: 10px;
    transition-duration: 200ms;
}

fx-switch.webfx-switch.selected {
    --fx-background-color: var(--webfx-switch-selected-background-color);
    transition-duration: 200ms;
}

fx-switch.webfx-switch fx-circle.knob {
    background-color: var(--webfx-switch-knob-background-color);
}