.audio-player > fx-background {
     background-color: #838788;  /* Background color */
     border-radius: 30px;
}

.audio-player .h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-align: left;
    color: white;
}

/* Customizing the progress bar for podcasts */
.audio-player progress {
    border: none;
    background-color: lightgray;
    border-radius: 10px; /* Adjust the value for more or less rounding */
    overflow: hidden;/* For FireFox */
}

.audio-player progress::-webkit-progress-bar { /* For Chrome & Safari */
    background-color: lightgray;
    border-radius: 10px;
}

.audio-player progress::-webkit-progress-value { /* For Chrome & Safari */
    background-color: #0096D6;
     border-radius: 10px;
}

.audio-player progress::-moz-progress-bar { /* For FireFox */
    background-color: #0096D6;
     border-radius: 10px;
}


.audio-player .time {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 13px;
}