.audio-player {
    -fx-background-color: #838788; /* Background color */
     -fx-background-radius: 30;
}

.audio-player h4 {
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-alignment: left;
     -fx-text-fill: white;
}


.audio-player .progress-bar {
    -fx-accent: #0096D6; /* Progress fill color */
    -fx-background-color: #E0E0E0; /* Background color */
    -fx-background-radius: 15; /* Rounded background */
    -fx-border-radius: 15; /* Rounded border */
    -fx-padding: 2; /* Padding around progress */
}

.audio-player .time {
    -fx-font-family: "Poppins";
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

